#show-tasks {
  display: none;
}

.task {
  cursor: pointer;
  color: #0088cc;
}

.task:hover {
  text-decoration: underline;
}

img {
  border-bottom: solid black 5px;
}

body {
  background-color: #b3ffcc;
}

.jumbotron {
  background-color: #80ffaa;
  border: solid white 5px;
  text-align: center;
  font-family: 'Nova Mono', monospace;
}

.container {
  text-align: center;
}

h2 {
  font-family: 'Nova Mono', monospace;
}

label {
  font-family: 'Nova Mono', monospace;
}

.done {
  text-decoration: line-through;
}

#show-tasks {
  background-color: white;
}

#show-tasks h2 {
  background-color: #80ffaa;
}

.list-item {
  font-weight: bold;
}

.list-details {
  font-style: italic;
}

button {
  margin-bottom: 10px;
}

#left{
  border-right: solid white 10px;
}
